<!DOCTYPE html>
<html>
  <head>
    <title>SHAOLIN TRADING</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--2017/06/20-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="css/grayscale.min.css" rel="stylesheet">
    <!-- -->

    <link href="/styles/importer.css" rel="stylesheet">
    <link href="/styles/custom.css" rel="stylesheet">
    <link href="/css/roadmap.css" rel="stylesheet">
    <link href="/css/mediaelementplayer.css" rel="stylesheet">
	<link href="/css/mediaelementplayer-legacy.css" rel="stylesheet">
  </head>

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
	<!-- 2017/08/11 -->
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
					<i class="fa fa-bars"></i>
				</button>
				<div class="flag_responsive hidden-lg hidden-md hidden-sm">
					<a aria-expanded="false" role="button" href="#" class="dropdown-toggle flag_selected" data-toggle="dropdown"> ENG&nbsp;&nbsp;<img src="img/flag_eng.png"></a>
					<ul role="menu" class="dropdown-menu opt_flag">
                        <li><a href="#">ENG&nbsp;&nbsp;<img src="img/flag_eng.png"></a></li>
                        <li><a href="#">RUS&nbsp;&nbsp;<img src="img/flag_rus.png"></a></li>
                        <li><a href="#">SPA&nbsp;&nbsp;<img src="img/flag_spa.png"></a></li>
                        <li><a href="#">FRA&nbsp;&nbsp;<img src="img/flag_fra.png"></a></li>
                    </ul>
				</div>
				<a class="navbar-brand pfage-scroll" href="#page-top" style="opacity:1;">
					<img src="img/logo.png" style="margin-top:-10px; outline: none;">
				</a>
			</div>
			<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
				<ul class="nav navbar-nav" style="padding-left:60px">
					<li class="hidden">
						<a href="#page-top"></a>
					</li>
					<li>
						<a class="page-scroll" href="#about">Company</a>
					</li>
					<li>
						<a class="page-scroll" href="#roadmap">Roadmap</a>
					</li>
					<li>
						<a class="page-scroll" href="#ico_results">ICO</a>
					</li>
					<li>
						<a class="page-scroll" href="#team">Team</a>
					</li>
					<li>
						<a class="page-scroll" href="#documents">Documents</a>
					</li>
					<li>
						<a class="page-scroll" href="#faq">FAQ</a>
					</li>
					<li>
						<a class="page-scroll" href="#about">Contacts</a>
					</li>
					<li>
						<a class="page-scroll" href="/login" style="opacity:1">
							<div class="credential-btn">Log in / Sign up</div>
						</a>
					</li>
					<li class="hidden-xs">
						<a aria-expanded="false" role="button" href="#" class="dropdown-toggle flag_selected" data-toggle="dropdown"><i class="fa fa-angle-down"></i> ENG&nbsp;&nbsp;<img src="img/flag_eng.png"></a>
						<ul role="menu" class="dropdown-menu opt_flag">
                <li><a href="#">ENG&nbsp;&nbsp;<img src="img/flag_eng.png"></a></li>
                <li><a href="#">RUS&nbsp;&nbsp;<img src="img/flag_rus.png"></a></li>
                <li><a href="#">SPA&nbsp;&nbsp;<img src="img/flag_spa.png"></a></li>
                <li><a href="#">FRA&nbsp;&nbsp;<img src="img/flag_fra.png"></a></li>
            </ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Intro Header -->
	<header class="intro">
		<div class="intro-body">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="row">
							<div class="col-md-12"><img src="img/logo-shaolin.png" style="width:100%;position:relative;margin-top:60px"></div>
						</div>
						<div class="row">
							<div class="col-md-12"><h1 class="brand-heading">Secured Handling of Assets Online In-Network</h1></div>
						</div>
						<div class="timeline row">
							<div class="col-md-2 hidden-sm hidden-xs"></div>
							<div class="col-md-8 col-sm-12">
								<table width="85%" align="center">
									<tr>
										<td><div class="timeline_pipe">59</div><span>Days</span></td>
										<td><div class="timeline_pipe">17</div><span>Hours</span></td>
										<td><div class="timeline_pipe">22</div><span>Min</span></td>
										<td><div class="timeline_pipe">34</div><span>Sec</span></td>
									</tr>
								</table>
							</div>
							<div class="col-md-2 hidden-sm hidden-xs"></div>
						</div>
						<div class="div_btn_intro"><a class="btn-intro" data-toggle="modal" data-target="#myModal">INVEST NOW</a></div>
						<p class="intro-text" style="position:relative;line-height:24px;padding-bottom:13px;">
							Next-generation trading of digital currencies
							<br>
							via the decentralized exchange
						</p>
						<!-- <a href="#about" class="btn btn-circle page-scroll">
						<i class="fa fa-angle-double-down animated"></i>
						</a> -->
					</div>
				</div>
			</div>
			<a href="#ico_results" class="btn btn-cirle page-scroll" style="position:absolute; bottom:30px; left:50%; margin-left:-22px;"> <img src="img/scrol-btn.png"> </a>
		</div>
	</header>

	<!-- ico results Section -->
	<section id="ico_results" class="content-section text-center">
		<h1>ICO Results</h1>
		<h3 class="label">investments:</h3>
		<div class="container" style="margin-top:15px">
			<div class="row">
				<div class="col-lg-10 col-lg-offset-1">
					<div class="col-md-4">
						<div class="investments_block">
							<div class="ico"><img src="img/ico_bitcoin.png"></div>
							<div class="numerical">100.567</div>
							<div class="memo">Bitcoin</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="investments_block">
							<div class="ico"><img src="img/ico_diamond.png"></div>
							<div class="numerical">9000.95</div>
							<div class="memo">Ethereum</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="investments_block">
							<div class="ico"><img src="img/ico_dollar.png"></div>
							<div class="numerical">1 537 238.9</div>
							<div class="memo">Dollars</div>
						</div>
					</div>
				</div>
			</div>
			<p align="center">
				<span class="lbl_contact">tokens contributed in total: </span>
				<span class="lbl_numerical">25 709 089 ($7 388 535)</span>
				<br>
				<span class="lbl_contact">investors: </span>
				<span class="lbl_numerical"><img src="img/ico_man.png" class="investor">2 393</span>
			</p>
		</div>
	</section>

	<!-- about Section -->
	<section id="about" class="content-section text-center">
		<div class="container">
			<div class="row">
				<div class="col-md-6 spacing_left">
					<div class="title_seperator"></div>
					<h1>What are we about?</h1>
					<div><label class="subline">Secured Handling of Assets Online In-Network (SHAOLIN)</label></div>
					<p>
						Want to get involved with cryptocurrency trading but aren’t sure you can time the markets correctly, or don’t want to deal with the hassle of moving coins back and forth between wallets and exchanges? Shaolin Trading offers solutions to both problems. By employing the age-old financial art of arbitrage to Decentralized Exchanges (DEXs), we take the guessing game out of investing by only performing <br>trades that are assuredly profitable
					</p>
					<div class="row">
						<div class="col-sm-6 custom-btn-ctrl">
							<a href="#" class="btn_link btn-whitepaper">whitepaper</a>
						</div>
						<div class="col-sm-6 custom-btn-ctrl">
							<a href="#" class="btn_link">invest now</a>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="media-player-container">
						<div class="media-envirenment">
							<div class="media-envirenment-screen">
								<img src="img/img_video_screen.png" width="100%" style="height:380px;" margin-top:-11px;>
								<div class="media-wrapper" style="width:577px; height: 360px; left:15px; top: 6px;">
                    <video id="player1" style="max-width:100%;max-height:100%" poster="img/img_video_poster.png" preload="none" playsinline webkit-playsinline>
                      <source src="https://commondatastorage.googleapis.com/gtv-videos-bucket/CastVideos/mp4/BigBuckBunny.mp4" type="video/mp4">
                      <track srclang="en" kind="subtitles" src="mediaelement.vtt">
                      <track srclang="en" kind="chapters" src="chapters.vtt">
                    </video>
			           </div>
			           <div class="media-player-starter" style="left: 256.5px;top: 150px;"><img src="img/ico_video_starter.png" width="100px" height="100px"></div>
							</div>
							<div class="media-envirenment-keyboard" style="width:133.6%; margin-left: 19px;"><img src="img/img_video_keyboard.png" width="100%"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- possible Section -->
	<section id="possible" class="content-section text-center">
		<div class="container">
			<div class="col-lg-10 col-lg-offset-1">
				<h1>How is this possible?</h1>
				<p class="block1">
					The advent of the DEX, along with “token shifting” products like ShapeShift and Coinomat, makes it incredibly easy (and cheap) to exploit price differences between coins and tokens on different exchanges, thereby guaranteeing that each trade is a profitable one.
				</p>
				<p class="block2">
					Instead of trying to predict whether a coin/token is going up or down in value, trades are onducted instantaneously by buying one coin/token for a lesser price on one exchange and selling it for a higher price on a different exchange. This process is made even easier by using token shifters so that one coin/token may be rapidly converted into another if it helps satisfy<br>
					the conditions for an arbitrage opportunity.
				</p>
			</div>
		</div>
	</section>

	<!-- example Section -->
	<section id="example" class="content-section text-center">
		<div class="container">
			<div class="row">
				<div class="col-md-7">
					<div class="example_block1">&nbsp;</div>
				</div>
				<div class="col-md-5">
					<div class="title_seperator"></div>
					<h1>For example</h1>
					<div><label class="subline">Let’s say 100,000 Dogecoins are being sold for 68 satoshis on one exchange and 100,000 are being bought for 70 satoshis on another.</label></div>
					<p style="margin-top:5px;margin-bottom:25px">
						That means that if one were to act quick enough, they could make a profit of 2 satoshis x 100,000 by buying at 68 and selling at 70. This would result in a net profit of .002 BTC without any risk of loss.
					</p>
					<table width="100%">
						<tr>
							<td width="40px" valign="middle"><img src="img/ico_example_arrow_right.png"></td>
							<td class="arrow_content">
								Although .002 BTC may not seem like a lot of money, when this strategy is conducted dozens or hundreds of times daily, the profits add up and can become quite
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="row" style="margin-top:80px">
				<div class="col-md-5">
					<div class="title_seperator"></div>
					<h1>Arbitrage</h1>
					<div><label class="subline">The key to performing a successful arbitrage trade consists of 2 parts: speed and recognition.</label></div>
					<p style="margin-top:5px;margin-bottom:25px">
						Speed meaning beating other potential arbitrageurs to the punch; recognition meaning knowing that such an opportunity exists. By employing trading bots on a number of DEXs and using low-cost token shifters to create coins/tokens necessary on either side of the arbitrage equation, our one-of-a-kind trading algorithm not only allows us to act faster than our competitors but also to recognize arbitrage opportunities that classical traders may not be able to recognize in the first place.
					</p>
					<table width="100%">
						<tr>
							<td width="40px" valign="middle"><img src="img/ico_example_arrow_right.png"></td>
							<td class="arrow_content">
								When you are engaged in arbitrage, you are taking advantage of a market where a product sells for diffrent prices.
							</td>
						</tr>
					</table>
				</div>
				<div class="col-md-7" align="right">
					<div class="example_block2">&nbsp;</div>
				</div>
			</div>
		</div>
	</section>

	<!-- shaolin_dot Section -->
	<section id="shaolin_dot" class="content-section text-center">
		<div class="container">
			<div class="row">
				<div class="col-md-6 spacing_left">
					<div class="title_seperator"></div>
					<h1>What is the SHAO token?</h1>
					<div><label class="subline">The SHAO token, created using the Ethereum platform, represents a stake in our investment program.</label></div>
					<p style="margin-top:10px">
						Holders are entitled to a percentage of monthly profits made by our trading system, to be paid out in ETH or BTC. Holders will also have the opportunity to reinvest their earnings in the form of additional SHAO tokens as part of our dividends program. In the future, the SHAO token will have advanced functionalities that allow its users to conduct token shifting operations on their own, providing liquidity to the cryptocurrency space and giving holders a sense of financial empowerment not seen before the revolution of blockchain technologies.
					</p>
				</div>
				<div class="col-md-6" style="left: 50px;">
					<img src="img/ico_shaolin_dot.png">
				</div>
			</div>
		</div>
	</section>

	<!-- coins Section -->
	<section id="coins" class="content-section text-center">
		<div class="container">
			<div class="row">
				<div class="col-md-6 spacing_left">
					<p style="width:106%;">
						Our ICO crowdsale of SHAO tokens will give us the necessary funds to hold multiple coins/tokens on multiple DEXs in order to perform arbitrage and token shifting operations instantaneously, without having to move coins between exchanges. Here is a list of some of the DEXs on which we plan to deploy our trading bots:
					</p>
					<ul>
						<li><span><i class="fa fa-minus"></i></span> New Economy Movement</li>
						<li><span><i class="fa fa-minus"></i></span> Counterparty</li>
						<li><span><i class="fa fa-minus"></i></span> OpenANX</li>
						<li><span><i class="fa fa-minus"></i></span> Waves</li>
						<li><span><i class="fa fa-minus"></i></span> NVO</li>
						<li><span><i class="fa fa-minus"></i></span> EasyDEX</li>
						<li><span><i class="fa fa-minus"></i></span> Exodus</li>
						<li><span><i class="fa fa-minus"></i></span> OasisDEX</li>
						<li><span><i class="fa fa-minus"></i></span> BitShares</li>
						<li><span><i class="fa fa-minus"></i></span> OpenLedger</li>
					</ul>
				</div>
				<div class="col-md-6 spacing_right">
					<p>
						Some of the coins/tokens on which we plan to conduct our arbitrage trading algorithms include:
					</p>
					<ul style="margin-left:-22px;">
						<li><span><i class="fa fa-minus"></i></span> Bitcoin (BTC)</li>
						<li><span><i class="fa fa-minus"></i></span> Ethereum (ETH)</li>
						<li><span><i class="fa fa-minus"></i></span> Litecoin (LTC)</li>
						<li><span><i class="fa fa-minus"></i></span> DASHcoin (DASH)</li>
						<li><span><i class="fa fa-minus"></i></span> Dogecoin (DOGE)</li>
						<li><span><i class="fa fa-minus"></i></span> Monero (XMR)</li>
					</ul>
					<br><br><br>
					<p style="width:104%">
						This is just an initial list of coins we will be arbitraging but we expect to include many other coins and tokens as our trading system becomes more fully developed and potential opportunities are further explored.
					</p>
				</div>
			</div>
		</div>
	</section>

	<!-- faq Section -->
	<section id="faq" class="content-section text-center">
		<div class="container">
			<h1>FAQ</h1>
			<div class="row">
				<div class="col-md-6">
					<ul>
						<li>
							<span>Q: </span> What is Shaolin Trading?<div class="according_plus">+</div>
							<table width="100%">
								<tr>
									<td valign="top" width="30px">A: </td>
									<td>We are a next-generation investment group that is focused on harnessing the power and freedom of the decentralized exchange (DEX) to maximize potential capitalization on arbitrage opportunities. By taking advantage of low-cost trading and token shifting products, we plan to exploit price differences between major exchanges and DEXs in ways not currently being explored by other arbitrageurs.</td>
								</tr>
							</table>
						</li>
						<li><span>Q: </span> What is your primary goal?<div class="according_plus">+</div></li>
						<li><span>Q: </span> Why is arbitrage better than other trading techniques?<div class="according_plus">+</div></li>
						<li><span>Q: </span> Are there any downsides to arbitrage?<div class="according_plus">+</div></li>
						<li><span>Q: </span> How do you plan to beat out the competition?<div class="according_plus">+</div></li>
					</ul>
				</div>
				<div class="col-md-6">
					<ul>
						<li><span>Q: </span> How do you plan to beat out the competition?<div class="according_plus">+</div></li>
						<li><span>Q: </span> How do you plan on raising funds?<div class="according_plus">+</div></li>
						<li><span>Q: </span> What do you plan to do with the profits?<div class="according_plus">+</div></li>
						<li><span>Q: </span> When will the investment program come to an end?<div class="according_plus">+</div></li>
						<li><span>Q: </span> How do I make an investment in your company?<div class="according_plus">+</div></li>
					</ul>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-12" align="center" style="margin-top: 20px;">
					<a href="#" class="btn_link">contact us</a>
				</div>
			</div>
		</div>
	</section>

	<!-- roadmap Section -->
	<section id="roadmap" class="content-section text-center">
		<div class="container">
			<h1>Roadmap</h1>
			<br>
			<div class="row">
				<div class="col-md-12">
					<div id="milestones-wrapper">
						<div id="milestones">
					    	<div class="mmm_box rmap_box">
					      		<div class="mmm_box__in">
					              	<div class="rmap clearfix hidden-xs">
					                	<div class="rmap__col col-sm-2 desc_array1">
					                  		<h5>Q3 2017</h5>
					                  		<div class="numb"><span><i class="fa fa-angle-right"></i></span></div>
					                  		<h4 style="margin-top: 17px;">ICO launch & distribution phases</h4>
					                	</div><!--.rmap__col-->
					                	<div class="rmap__col col-sm-2">
					                  		<h4>Implement arb trading program</h4>
					                  		<div class="numb"><span><i class="fa fa-angle-right"></i></span></div>
					                  		<h5 style="margin-top: 28px;">Q4 2017</h5>
					                	</div><!--.rmap__col-->
					                	<div class="rmap__col col-sm-2 desc_array1">
					                  		<h5 style="margin-top: -3px; margin-bottom: 28px;">Q4 2017</h5>
					                  		<div class="numb"><span><i class="fa fa-angle-right"></i></span></div>
					                  		<h4 style="padding-top: 24px;">Develop enhanced coin features</h4>
					                	</div><!--.rmap__col-->
					                	<div class="rmap__col col-sm-2 desc_array2">
					                  		<h4>Monthly profit distribution (initial)</h4>
					                  		<div class="numb"><span><i class="fa fa-angle-right"></i></span></div>
					                  		<h5 style="margin-top: 28px;">Q1 2018</h5>
					                	</div><!--.rmap__col-->
					                	<div class="rmap__col col-sm-2 desc_array1">
					                  		<h5>Q1 2018</h5>
					                  		<div class="numb"><span><i class="fa fa-angle-right"></i></span></div>
					                  		<h4 style="padding-top: 24px;">Become registered Ethereum app</h4>
					                	</div><!--.rmap__col-->
					                	<div class="rmap__col col-sm-2">
					                  		<h4>SHAO token isted on exchanges</h4>
					                  		<div class="numb"><span><i class="fa fa-angle-right"></i></span></div>
					                  		<h5 style="margin-top: 28px;">Q2 2018</h5>
					                	</div><!--.rmap__col-->
					              	</div><!--.rmap-->
					              	<div class="hidden-lg hidden-md hidden-sm sm-roadmap">
					              		<div class="row">
					              			<div class="col-xs-3"><h5>Q3 2017</h5></div>
					              			<div class="col-xs-9"><h4>ICO launch & distribution phases</h4></div>
					              		</div>
					              		<div class="row">
					              			<div class="col-xs-3"><h5>Q4 2017</h5></div>
					              			<div class="col-xs-9"><h4>Implement arb trading program</h4></div>
					              		</div>
					              		<div class="row">
					              			<div class="col-xs-3"><h5>Q4 2017</h5></div>
					              			<div class="col-xs-9"><h4>Develop enhanced coin features</h4></div>
					              		</div>
					              		<div class="row">
					              			<div class="col-xs-3"><h5>Q1 2018</h5></div>
					              			<div class="col-xs-9"><h4>Monthly profit distribution (initial)</h4></div>
					              		</div>
					              		<div class="row">
					              			<div class="col-xs-3"><h5>Q1 2018</h5></div>
					              			<div class="col-xs-9"><h4>Become registered Ethereum app</h4></div>
					              		</div>
					              		<div class="row">
					              			<div class="col-xs-3"><h5>Q2 2018</h5></div>
					              			<div class="col-xs-9"><h4>SHAO token isted on exchanges</h4></div>
					              		</div>
					              	</div>
					              </div>
					      		</div>
					    	</div>
					  	</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- benefits Section -->
	<section id="benefits" class="content-section text-center">
		<div class="container">
			<h1>ICO Benefits</h1>
			<br>
			<div class="row">
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-2 col-sm-3 col-xs-3">
							<div class="number_numerial">01<div class="title_seperator"></div></div>
							<div class="number_date">10/1/17</div>
						</div>
						<div class="col-md-10 col-sm-9 col-xs-9">
							<div class="number_title">First round of crowdfuding beings (early adopter period)</div>
							<div class="number_content">All token purchasers will receive a 30% discount on purchases made during this initial phase. The price per token will be the BTC or ETH equivalent of $0.70.</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-2 col-sm-3 col-xs-3">
							<div class="number_numerial">02<div class="title_seperator"></div></div>
							<div class="number_date">11/1/17</div>
						</div>
						<div class="col-md-10 col-sm-9 col-xs-9">
							<div class="number_title">Second round of crowdfunding begins</div>
							<div class="number_content">All token purchasers will receive a 20% discount on their token purchases. Price per token will be the BTC/ETH equivalent of $0.80.</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row" style="margin-top: 25px;">
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-2 col-sm-3 col-xs-3">
							<div class="number_numerial">03<div class="title_seperator"></div></div>
							<div class="number_date">12/1/17</div>
						</div>
						<div class="col-md-10 col-sm-9 col-xs-9">
							<div class="number_title">Third round of crowdfunding begins (institutional investor period #2)</div>
							<div class="number_content">All token purchasers will receive a 10% discount on their token purchases. Price per token will be the BTC/ETH equivalent of $0.90.</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-2 col-sm-3 col-xs-3">
							<div class="number_numerial">04<div class="title_seperator"></div></div>
							<div class="number_date">1/1/18</div>
						</div>
						<div class="col-md-10 col-sm-9 col-xs-9">
							<div class="number_title">Shaolin Trading goes live and final round of crowdfunding begins (public investor period)</div>
							<div class="number_content">Remaining tokens will be sold at the BTC/ETH equivalent of $1.00 per token.</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row" style="margin-top: 25px;">
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-2 col-sm-3 col-xs-3">
							<div class="number_numerial">05<div class="title_seperator"></div></div>
							<div class="number_date">2/1/18</div>
						</div>
						<div class="col-md-10 col-sm-9 col-xs-9">
							<div class="number_title" style="margin-top: 24px;">First monthly profit distribution to SHAO token holders</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- token Section -->
	<section id="token" class="content-section text-center">
		<div class="container">
			<h1>Key Token Facts</h1>
			<br>
			<div class="row">
				<div class="col-md-12">
					<div class="table-responsive">
						<table class="table">
                <tbody>
                  <tr>
                      <td class="lbl_token" width="200px" nowrap="">Platform of Distribution:</td>
                      <td class="lbl_value">Ethereum</td>
                      <td class="lbl_token" nowrap="">Coins accepted as payment for SHAO tokens:</td>
                      <td class="lbl_value">ETH, BTC</td>
                  </tr>
                  <tr>
                      <td class="lbl_token" nowrap="">Name of Token:</td>
                      <td class="lbl_value">SHAO</td>
                      <td class="lbl_token" width="200px" nowrap="">Total number of tokens to be created:</td>
                      <td class="lbl_value">100,000,000</td>
                  </tr>
                  <tr>
                      <td class="lbl_token" nowrap="">Token functionalities:</td>
                      <td class="lbl_value" colspan="4" style="text-align:justify">Each SHAO token will be worth a certain percentage of monthly profits generated from our DEX arbitrage bot system
				(to be sent in BTC or ETH proportional to the amount of coins held in the holder’s Ethereum address as snapshotted on the last day of each month). Only a certain percentage of total monthly profits will be allocated to SHAO token holders, but in addition to having the option to receive return on their investment in the form of BTC or ETH, they can also choose to receive monthly payments in the form of SHAO tokens, which could most closely be described as a dividend reinvestment program. Eventually, we would like to use Ethereum’s advanced API developer options to allow SHAO tokens to be used as a “gateway” or token shifting system. We plan on learning from the trials of the first generation of token shifters and want to improve upon the token shifting process to make it even easier and cheaper to “shift” one coin or token into another.</td>
                  </tr>
                </tbody>
            </table>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- documents Section -->
	<section id="documents" class="content-section text-center">
		<div class="container">
			<h1>Documents</h1>
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<p>
						Please read our whitepaper and other documents for a more detailed explanation of our trading methods, and for details of our upcoming ICO launch.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3 col-xs-12">
					<div class="block_img"><img src="img/ico_document_pdf.png" style="width:100%"></div>
					<div class="block_title">Whitepaper</div>
					<div class="block_capacity">1,2MB</div>
				</div>
				<div class="col-sm-3 col-xs-12">
					<div class="block_img"><img src="img/ico_document_pdf.png" style="width:100%"></div>
					<div class="block_title">Token whitepaper</div>
					<div class="block_capacity">1,2MB</div>
				</div>
				<div class="col-sm-3 col-xs-12">
					<div class="block_img"><img src="img/ico_document_pdf.png" style="width:100%"></div>
					<div class="block_title">Terms & Conditions</div>
					<div class="block_capacity">1,2MB</div>
				</div>
				<div class="col-sm-3 col-xs-12">
					<div class="block_img"><img src="img/ico_document_pdf.png" style="width:100%"></div>
					<div class="block_title">Roadmap</div>
					<div class="block_capacity">1,2MB</div>
				</div>
			</div>
		</div>
	</section>

	<!-- documents Section -->
	<section id="team" class="content-section text-center">
		<div class="container">
			<h1>Our Team</h1>
			<div class="row">
				<div class="col-sm-3 col-xs-12 block">
					<div class="block_img" align="center"><img src="img/team_member1.png"></div>
					<div class="block_title">Name Surname</div>
					<div class="block_capacity">Founder & Lead developer</div>
					<div class="block_social" align="center"><a href="#"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;<a href="#"><i class="fa fa-twitter"></i></a></div>
				</div>
				<div class="col-sm-3 col-xs-12 block">
					<div class="block_img" align="center"><img src="img/team_member2.png"></div>
					<div class="block_title">Name Surname</div>
					<div class="block_capacity">Blockchain and Solidity developer </div>
					<div class="block_social" align="center"><a href="#"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;<a href="#"><i class="fa fa-instagram"></i></a></div>
				</div>
				<div class="col-sm-3 col-xs-12 block">
					<div class="block_img" align="center"><img src="img/team_member3.png"></div>
					<div class="block_title">Name Surname</div>
					<div class="block_capacity">UI, Web-design</div>
					<div class="block_social" align="center"><a href="#"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;<a href="#"><i class="fa fa-instagram"></i></a></div>
				</div>
				<div class="col-sm-3 col-xs-12 block">
					<div class="block_img" align="center"><img src="img/team_member4.png"></div>
					<div class="block_title">Name Surname</div>
					<div class="block_capacity">Marketing and creative writer</div>
					<div class="block_social" align="center"><a href="#"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;<a href="#"><i class="fa fa-twitter"></i></a></div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3 col-xs-12 block">
					<div class="block_img" align="center"><img src="img/team_member5.png"></div>
					<div class="block_title">Name Surname</div>
					<div class="block_capacity">Founder & Lead developer</div>
					<div class="block_social" align="center"><a href="#"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;<a href="#"><i class="fa fa-instagram"></i></a></div>
				</div>
				<div class="col-sm-3 col-xs-12 block">
					<div class="block_img" align="center"><img src="img/team_member6.png"></div>
					<div class="block_title">Name Surname</div>
					<div class="block_capacity">Blockchain and Solidity developer </div>
					<div class="block_social" align="center"><a href="#"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;<a href="#"><i class="fa fa-twitter"></i></a></div>
				</div>
				<div class="col-sm-3 col-xs-12 block">
					<div class="block_img" align="center"><img src="img/team_member7.png"></div>
					<div class="block_title">Name Surname</div>
					<div class="block_capacity">UI, Web-design</div>
					<div class="block_social" align="center"><a href="#"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;<a href="#"><i class="fa fa-twitter"></i></a></div>
				</div>
				<div class="col-sm-3 col-xs-12 block">
					<div class="block_img" align="center"><img src="img/team_member8.png"></div>
					<div class="block_title">Name Surname</div>
					<div class="block_capacity">Marketing and creative writer</div>
					<div class="block_social" align="center"><a href="#"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;<a href="#"><i class="fa fa-twitter"></i></a></div>
				</div>
			</div>
		</div>
	</section>

	<!-- subscribe Section -->
	<section id="subscribe" class="content-section text-center">
		<div class="container">
			<div class="col-lg-10 col-lg-offset-1">
				<h1>Subscribe to newsletter</h1>
				<div class="row">
					<div class="col-md-3 hidden-sm hidden-xs"></div>
					<div class="col-md-3 col-sm-6 col-xs-12" style="margin-left: -32px; width:285px;">
						<input type="email" placeholder="Your mail">
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12" style="margin-left: -14px; width:285px;">
						<button type="button">subscribe</button>
					</div>
					<div class="col-md-3 hidden-sm hidden-xs"></div>
				</div>
				<br>
				<p>Hottest news about SHAOLIN. NO spam.</p>
			</div>
		</div>
	</section>

	<!-- social Section -->
	<section id="social" class="content-section text-center">
		<div class="container">
			<div class="col-lg-10 col-lg-offset-1">
				<h1>Join Out Community</h1>
				<br>
				<div class="row">
					<div class="col-md-3 hidden-sm hidden-xs"></div>
					<div class="col-md-6 col-sm-12" align="center">
						<table width="75%">
							<tr>
								<td><div class="social_media"><i class="fa fa-facebook"></i></div></td>
								<td><div class="social_media"><i class="fa fa-twitter"></i></div></td>
								<td><div class="social_media"><i class="fa fa-paper-plane"></i></div></td>
								<td><div class="social_media"><i class="fa fa-google-plus"></i></div></td>
								<td><div class="social_media"><i class="fa fa-linkedin"></i></div></td>
							</tr>
						</table>
					</div>
					<div class="col-md-3 hidden-sm hidden-xs"></div>
				</div>
			</div>
		</div>
	</section>

	<!-- Footer -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-xs-12" style="margin-left: -31px;">&copy; 2017 Secured Handling of Assets Online In-Network</div>
				<div class="col-sm-6 col-xs-12" align="right" style="margin-left: 30px;">support@shaolin.su</div>
			</div>
	</footer>

	<!-- jQuery -->
	<script src="vendor/jquery/jquery.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

	<!-- Plugin JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

	<!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

	<!-- Theme JavaScript -->
	<script src="js/grayscale.min.js"></script>
	<!-- 2017/06/20 End -->

	<!-- mediaelementplayer -->
	<script src="js/mediaelementplayer.js"></script>
	<script src="js/mediaelement.js"></script>
	<script src="js/mediaelement-and-player.js"></script>

	<!-- attribute change control -->
	<script src="js/attrchange.js"></script>

	<!-- <div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-login">
						<div class="panel-heading">
							<div class="row">
								<div class="col-xs-6">
									<a href="#" class="active" id="login-form-link">Login</a>
								</div>
								<div class="col-xs-6">
									<a href="#" id="register-form-link">Register</a>
								</div>
							</div>
							<hr>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-lg-12">
									<form id="login-form" action="/login" method="post" role="form" style="display: block;">
										<div class="form-group">
											<input type="text" name="email" id="email" tabindex="1" class="form-control" placeholder="Email" value="" required>
										</div>
										<div class="form-group">
											<input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password" required>
										</div>
										<div class="form-group text-center">
											<input type="checkbox" tabindex="3" class="" name="remember" id="remember">
											<label class="blacktext" for="remember"> Remember Me</label>
										</div>
										<div class="form-group">
											<div class="row">
												<div class="col-sm-6 col-sm-offset-3">
													<input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
												</div>
											</div>
										</div>
										<div class="form-group">
											<div class="row">
												<div class="col-lg-12">
													<div class="text-center">
														<a href="http://phpoll.com/recover" tabindex="5" class="forgot-password">Forgot Password?</a>
													</div>
												</div>
											</div>
										</div>
									</form>
									<form id="register-form" action="/signup" method="post" role="form" style="display: none;">
										<div class="form-group">
											<input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="" required>
										</div>
										<div class="form-group">
											<input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="" required>
										</div>
										<div class="form-group">
											<input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password" required>
										</div>
										<div class="form-group">
											<input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password" required>
										</div>
										<div class="form-group">
											<div class="row">
												<div class="col-sm-6 col-sm-offset-3">
													<input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->

	<!-- arrow move to top -->
	<div class="arrow_move_to_top"><i class="fa fa-arrow-circle-up"></i></div>

	<script>
		$(function() {
      //Video player controls
			var video_player = $("#player1");
			video_player.on("play", function(){
				video_player.attr("controls", '');

			});

			video_player.on("pause", function(){
				// video_player.removeAttr("controls");
			});

			$('#login-form-link').click(function(e) {
				$("#login-form").delay(100).fadeIn(100);
				$("#register-form").fadeOut(100);
				$('#register-form-link').removeClass('active');
				$(this).addClass('active');
				e.preventDefault();
			});
			$('#register-form-link').click(function(e) {
				$("#register-form").delay(100).fadeIn(100);
				$("#login-form").fadeOut(100);
				$('#login-form-link').removeClass('active');
				$(this).addClass('active');
				e.preventDefault();
			});

			$('#faq ul li').click(function() {
				$this = $(this);

				if($this.find("table").is(":visible")) {
					$this.find("table").fadeOut(500);
				} else {
					$this.find("table").fadeIn(1000);
				}
			});

			$('div.arrow_move_to_top').click(function() {
				$('body').animate({
					scrollTop: 0
				});
			});

			$('.flag_selected').attrchange({
			    trackValues: true,
			    callback: function (event) {
			    	if(event.newValue == 'true') {
						$(this).find('i').removeClass('fa-angle-down').addClass('fa-angle-up');
			    	} else {
						$(this).find('i').removeClass('fa-angle-up').addClass('fa-angle-down');
			    	}
			    }
			});
		});

		auto_viedo_screen_arrange();

		$(window).resize(function() {
			auto_viedo_screen_arrange();
		});

		function auto_viedo_screen_arrange() {
			parent_width = $('div.media-envirenment-screen').width();
			parent_height = $('div.media-envirenment-screen').height();

			$('div.media-wrapper').css({
				'width': parent_width - 30,
				'height' : parent_height - 20,
				'left' : 15,
				'top' : 12
			});

			$('#player1').attr({
				'width' : $('div.media-wrapper').width(),
				'height': $('div.media-wrapper').height()
			});

			$('.media-player-starter').css({
				'left' : $('.media-wrapper').width()/2 - 30,
				'top': $('.media-wrapper').height()/2 - 30
			});

			$('.media-player-starter').click(function() {
				$('#player1')[0].play();
        $(this).hide();
			});

			$('#documents .block_img').hover(function() {
				$(this).find('img').attr('src', 'img/ico_document_pdf_hover.png');
			}, function() {
				$(this).find('img').attr('src', 'img/ico_document_pdf.png');
			});
		}
	</script>

    <!-- <h1>Basic Login With Sails</h1> -->
    <!-- <% if (req.session.me) { %>
    <a href="/logout">Logout</a>
    <% } else { %>
    <a href="/login">Login</a> | <a href="/signup">Signup</a>
    <% } %> -->


    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
  </body>
</html>
